<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/rail/update/<%= data._id %>">

        <label for="Meetid">train name: </label>
        <input type="text" id="Meetid" name="tname" value="<%= data.tname%>">
        <label for="Title"> Tno : </label>
        <input type="text" id="Title" name="tno" value="<%= data.tno %>">
        <br>
        <label for="Interviewer"> departure: </label>
        <input type="text" id="Interviewer" name="dtime" value="<%= data.dtime%>">
        <br>
        <label for="Location"> price ac :</label>
        <input type="text" id="Location" name="priceac" value="<%= data.price[1]%>">
        <br>
        <label for="Meeting_Link">price non ac:</label>
        <input type="text" id="Meeting_Link" name="pricenonac" value="<%= data.price[0]%>">
        <br>
        <label for="Date">set ac:</label>
        <input type="text" id="Date"  name="seatac" value="<%= data.seatavailable[1]%>">
        <br>
        <label for="start-time" class="flex-container1">set non ac</label>
        <input type="text" id="start-time" class="flex-container" name="seatnonac" value="<%= data.seatavailable[0]%>">
        <label for="end-time" class="flex-container1">Delay</label>
        <input type="text" id="end-time" class="flex-container" name="delayedt" value="<%= data.delayedt%>">
        <br>
        <button type="submit" method="post">Update</button>
      </form>
</body>
</html>